{% extends 'layout.html' %}
{% block body %}
    {% from "_formhelpers.html" import render_field %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h4>Login</h4>
    <hr>
    <form method=post action="/account/login" class="form-horizontal">
      <dl>
          {{ render_field(model['form'].account_name) }}
          {{ render_field(model['form'].password) }}
      </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Login">
        </div>
    </div>
    </form>
{% endblock %}